.card {
    display: inline-block;
  
    
    }
 
    .item-options {
        border: 3px solid orange;
    }
    
    .newCard {
        
        display:flex;
        align-self: stretch;
       align-content: stretch;
       
      
      
      }
      
      
      .item {
        display: flex;
        align-content: stretch;
      
      }
      .card {
        display: block;
        height: 150px;
        width: 370px;
      border-radius: 20;
    
      }
      ion-avatar {
        width:100% !important;  
height : 100% !important;  
max-width: 60px !important;  //any size
max-height: 60px !important; //any size 
      }