<div > 

    
 
    <!-- <ion-card>
      <ion-card-header>

      </ion-card-header>
    
      <ion-card-content> -->



          <!-- <app-card (click) = "close()" [id]="randomEvent" > </app-card> -->

         
            <div class = "pick" >
     <ion-button [disabled] = "backButtonDisabled === false" (click)="back()" strong>Back</ion-button>
          <ion-button (click)="back()" strong fill="solid">Next</ion-button>


                 </div>
        
     

      <!-- </ion-card-content>
    </ion-card> -->


  
</div>
