.timeContainer {
    overflow-x: scroll;
    
    overflow-y: hidden;
    white-space: nowrap;
    
        ion-button{
            display: inline-block;
            height: 30px;
            width: 90px;
            --background-activated: transparent;
            --background: transparent;
            border-radius: 23px;
            
            font-family: 'My Custom Font BebasNeue';
            
            font-size: 20px;
            color: #9F9B9B;
            letter-spacing: 0;
        
    }
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}