ion-segment{
    height: 50px;
    // background-color: #FFF;
}

ion-segment-button{
  font-size: 16px;
  // color: red;
  // border: 0px;
  // --color-checked: red;
  // --color-checked-disabled: red;
  // border-radius: 0px;
}
.color{
  // color: rgb(70, 66, 66);
}

.card {
  display: inline-block;

  
  }

  .item-options {
      border: 3px solid orange;
  }
  
  .newCard {
      display:flex;
      align-self: stretch;
     align-content: stretch;
    }
    
    .item {
      display: flex;
      align-content: stretch;
    
    }
    .card {
      display: block;
      height: 150px;
      width: 370px;
    border-radius: 20;
  
    }
    ion-avatar {
      width:100% !important;  
height : 100% !important;  
max-width: 60px !important;  //any size
max-height: 60px !important; //any size 
    }
    ion-icon {
      color: white;
    } 
    ion-toolbar {
      --background: #d21515;
      color: white;
    }
    ion-back-button {
      --color	: white;
  }