



<ion-slides  pager="true">
  <ion-slide  class="step-one">
    <div class = "container"> 
      <ion-img src="/assets/img/step1.png"></ion-img>
      <h1>Welcome to WesEvents!
            </h1>
      <p>WesEvents makes it easy for busy students like you to stay connected with the community! 
      </p>
    </div>
  </ion-slide>

  <ion-slide class="step-two">
      <div class = "container"> 

      <ion-img src="/assets/img/step2.svg"></ion-img>
      <!-- <ion-img src="/assets/slides/step2.svg"></ion-img> -->
      <h1>Find events that fit your busy schedule!
      </h1>
      <p>Filter events by Activity Type, Time of Day, and Date with ease
      </p>
      </div>

  </ion-slide>

  <ion-slide class="step-three">
      <div class = "container"> 

      <ion-img src="/assets/slides/step3.svg"></ion-img>
      <h1>Take your events to the next level!
      </h1>
      <ul>  <li>Create and edit events with a touch of a button </li>
        <li>  Add updates to your created events to provide the most up to date information</li>
        <li> See who else from your friends is going to the event!</li>
        <li> </li>
         
      </ul>
</div>
      <ion-button (click)="finish()">FINISH TUTORIAL!</ion-button>
  </ion-slide>
</ion-slides>