<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title color="#d33939" class="ion-text-center">
        About
          </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>

<ion-content>
  <h1> Credits</h1>
This app was only made possible through the constant feedback of many of my friends!

Special thanks to <strong> Cristina LoGiudice </strong> for helping me draft out the initial designs of the app. 

Numerous other feedback was used while crafting this app. Some more people I would like to thank are the following: 
Zainab Malik
Annie Khan

<strong>Marketing  Team</strong>
Alphina Kamara
Annie Khan



<p> </p>
</ion-content>
