.box {
    display: block;
    // height: 100px;
    // width: 50px;
    border: 1px solid blue;
}
#popso {
    border: 2px solid red;
}
.pic {
    // height: 120px;
    // width: 100px;
    background-image: radial-gradient( #195DF7 0%, #616DFF 100%, 50% 100%);
}