<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title color="#d33939" class="ion-text-center">
          Create an Event
            </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-header>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button checked value="edit">
        <ion-icon slot="end" name="create"></ion-icon>
        <div class="color">
          Create Event
        </div>
      </ion-segment-button>
      <ion-segment-button value="preview">
        <ion-icon slot="end" name="eye"></ion-icon>
        <div class="color">
          Live Preview
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-header> -->
  <!-- <ion-content
   >
    <ion-item color = "light" class="item">
      <ion-card color="light" class="newCard">
        <ion-card-content>
          <ion-card-title>
            {{ title }}
          </ion-card-title>
          <ion-card-subtitle>
            {{ date }}
  
            <ion-chip>
              <ion-icon name="iconsMatch[{{ selected }}]" color="dark"></ion-icon>
              <ion-label>{{ selected }}</ion-label>
            </ion-chip>
          </ion-card-subtitle>
          <ion-grid>
            <ion-row class="ion-align-items-start">
              <ion-col>
                <div>
                  <div class="ion-text-start">
                    <strong>Location: </strong> {{ location }}
                  </div>
                </div>
                <div><strong>Students:</strong> {{ invited }}</div>
                <div></div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <strong> Description:</strong> {{ description }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  
  </ion-content> -->
  
  <ion-content >
    <form [formGroup]="createEventForm">
      <ion-item  color = "light">
        <ion-label position="floating">Event Title</ion-label>
        <ion-input
          placeholder="e.g. Fashion Show 2019..."
          spellcheck="true"
          required="true"
          maxlength="50"
          type="text"
          formControlName="event_title"
        ></ion-input>
      </ion-item>
  
      <ion-item  color = "light">
        <ion-label>Category</ion-label>
        <ion-select
          formControlName="event_category"
          [interfaceOptions]="customPopoverOptions"
          interface="popover"
          placeholder="Select One"
        >
          <ion-select-option> </ion-select-option>
  
          <ion-select-option value="custom field"> Other</ion-select-option>
          <ion-select-option value="Volunteering">
            Volunteering
          </ion-select-option>
          <ion-select-option value="Community"> Community </ion-select-option>
          <ion-select-option value="Sports"> Sports </ion-select-option>
          <ion-select-option value="Food"> Food </ion-select-option>
          <ion-select-option value="Special lectures">
            Special lectures
          </ion-select-option>
          <ion-select-option value="Parties"> Parties </ion-select-option>
          <ion-select-option value="Movies"> Movies </ion-select-option>
          <ion-select-option value="Club Meeting">
            Club Meeting
          </ion-select-option>
          <ion-select-option value="Cultural and Language">
            Cultural and Language
          </ion-select-option>
          <ion-select-option value="Student Government">
            Student Government
          </ion-select-option>
          <ion-select-option value="Music"> Music </ion-select-option>
          <ion-select-option value="Performance Art">
            Performance Art
          </ion-select-option>
          <ion-select-option value="Dance"> Dance </ion-select-option>
          <ion-select-option value="Religious"> Religious </ion-select-option>
          <ion-select-option value="Gaming"> Gaming </ion-select-option>
          <ion-select-option value="Social Activism">
            Social Activism
          </ion-select-option>
          <ion-select-option value="Relax"> Relax </ion-select-option>
          <ion-select-option value="Science"> Science </ion-select-option>
          <ion-select-option value="Shopping"> Shopping </ion-select-option>
          <ion-select-option value="Special Shows">
            Special Shows
          </ion-select-option>
          <ion-select-option value="Fitness"> Fitness </ion-select-option>
        </ion-select>
      </ion-item >
      <ion-item  color = "light" *ngIf="selected == other">
        <ion-input
          maxlength="35"
          formControlName="event_category"
          required="true"
          placeholder="Custom Category:"
        >
        </ion-input>
      </ion-item>
      <ion-item  color = "light">
        <ion-label>Location</ion-label>
        <ion-select
          formControlName="event_location"
          [interfaceOptions]="customPopoverOptions"
          interface="alert"
          placeholder="Select One"
        >
          <ion-select-option> </ion-select-option>
  
          <ion-select-option value="custom field"> Other</ion-select-option>
          <ion-select-option value="Exley"> Exley </ion-select-option>
          <ion-select-option value="Foss Hill"> Foss Hill </ion-select-option>
          <ion-select-option value="Usdan University Center">
            Usdan University Center
          </ion-select-option>
          <ion-select-option value="Russel House">
            Russel House
          </ion-select-option>
          <ion-select-option value="Davison Art Center"
            >Davison Art Center</ion-select-option
          >
          <ion-select-option value="Fayerweather">
            Fayerweather
          </ion-select-option>
          <ion-select-option value="Memorial Chapel">
            Memorial Chapel
          </ion-select-option>
          <ion-select-option value="Patricelli ’92 Theater">
            Patricelli ’92 Theater
          </ion-select-option>
          <ion-select-option value="Powell Family Cinema">
            Powell Family Cinema
          </ion-select-option>
          <ion-select-option value="Gordon Career Center">
            Gordon Career Center
          </ion-select-option>
          <ion-select-option value="Resource Center">
            Resource Center
          </ion-select-option>
          <ion-select-option value="Wesleyan RJ Julia Bookstore">
            Wesleyan RJ Julia Bookstore
          </ion-select-option>
          <ion-select-option value="200 Church Street">
            200 Church Street
          </ion-select-option>
          <ion-select-option value="Bennet Hall">Bennet Hall </ion-select-option>
          <ion-select-option value="Butterfield Residence">
            Butterfield Residence</ion-select-option
          >
          <ion-select-option value="Fauver Apartments">
            Fauver Apartments
          </ion-select-option>
          <ion-select-option value="Hewitt"> Hewitt </ion-select-option>
          <ion-select-option value="High Rise "> High Rise </ion-select-option>
          <ion-select-option value="Low Rise"> Low Rise </ion-select-option>
          <ion-select-option value="Nicolson"> Nicolson </ion-select-option>
          <ion-select-option value="Olin Memorial Library">
            Olin Memorial Library
          </ion-select-option>
          <ion-select-option value="Hall-Atwater Laboratory"
            >Hall-Atwater Laboratory</ion-select-option
          >
          <ion-select-option value="Downey House">
            Downey House
          </ion-select-option>
          <ion-select-option value="Albritton Hall"
            >Albritton Hall
          </ion-select-option>
          <ion-select-option value="Boger Hall">Boger Hall</ion-select-option>
          <ion-select-option value="Fisk Hall"> Fisk Hall </ion-select-option>
          <ion-select-option value="Judd Hall"> Judd Hall </ion-select-option>
          <ion-select-option value="Shanklin Laboratory">
            Shanklin Laboratory
          </ion-select-option>
          <ion-select-option value="Van Vleck Observatory">
            Van Vleck Observatory
          </ion-select-option>
        </ion-select>
      </ion-item>
   
      <ion-item  color = "light" *ngIf="selectedLocation == other">
        <ion-input
        maxlength="35"
        required="true"
          formControlName="event_location"
          placeholder="Custom Location:"
        >
        </ion-input>
      </ion-item>
      <ion-item  color = "light">
        <ion-label position="floating">Invited Students</ion-label>
        <ion-input
          placeholder="e.g. All, MSA members, Students Of Color"
          required="true"
          maxlength="15"
          type="text"
          formControlName="event_students"
        ></ion-input>
      </ion-item>
      <ion-item  color = "light">
        <ion-label position="stacked">Date</ion-label>
        <ion-input
          required="true"
          type="date"
          formControlName="event_date"
        ></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item  color = "light">
              <ion-label position="floating">Start Time</ion-label>
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                formControlName="event_startTime"
              ></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item  color = "light">
              <ion-label position="floating">End Time</ion-label>
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                formControlName="event_endTime"

              ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div color = "light">
        <ion-label  class="label" position="fixed">Description</ion-label>
      </div>
      <ion-item color = "light">
        <textarea
          #myInput
          id="myInput"
          rows="5"
          maxLength="250"
          class="desc"
          (keyup)="resize()"
          spellcheck="true"
          placeholder="3-4 sentences describing your event..."
          formControlName="event_description"
        ></textarea>
      </ion-item>
      <ion-grid><ion-row>

        <ion-col *ngIf = "imageUploaded === false">
          <ion-button color="light"   expand="block" (click)="takePhoto(0)">
          
          <ion-icon color = "dark"name="images"></ion-icon>
          
          Pick Image from Gallery
        
        </ion-button>
        <ion-button color="light"   expand="block" (click)="takePhoto(1)">
          
            
          <ion-icon color = "dark" name="camera"></ion-icon>        
          Take Picture
        </ion-button>
        </ion-col>
      </ion-row>
    <ion-row *ngIf = "imageUploaded === true">
<ion-col>

  <!-- <ion-thumbnail slot="start"> -->
    <ion-img [src]="imageURI"></ion-img>
  <!-- </ion-thumbnail> -->

</ion-col>


    </ion-row>
<ion-row *ngIf = "imageUploaded === true"> 
  <ion-col>
    <ion-button color="light"   expand="block" (click)="removePic()">
          
        <ion-icon color = "dark"name="trash"></ion-icon>
        
        Remove Picture
      
      </ion-button>
    </ion-col>
</ion-row>    
    </ion-grid>
     

      <ion-button
        shape="round"
        color="danger"
        expand="block"
        [disabled]="!createEventForm.valid"
        (click)="createEvent()"
        >Create Event</ion-button
      >
    </form>
  <!-- </ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic 4 Image Picker Demo
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
   
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <h3>Image Picker</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="getImages()">Choose Images</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> -->
          <!-- More Pinterest floating gallery style -->
          <!-- <div class="images">
            <div class="one-image" *ngFor="let img of imageResponse">
              <img src="{{img}}" alt="" srcset="">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> -->
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <img [src]="currentImage" *ngIf="currentImage"> -->
  