.newCard {
  margin-left: auto;
  margin-right: auto;
}

.card {
    display: block;
    height: 150px;
    width: 370px;
   border-radius: 20;

  }
  .ViewMore {
    display: flex;
    justify-content: flex-end;
    padding: none;
    ion-button{
      color: white;
      --border-color:	white;
    }
  }
  .content {
    
  
      display: flex;
      flex-direction: column;
  
  }
  .outer {
    display: flex;
    flex-direction: row;
  }
 .final{
  border-radius: 15px;
 }

 .chip {

color: white;
 }

 .flex {
   display: flex;
   flex-direction: row;
 }
 .removedLabel {
   --color: black;
 }