.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  ion-card {
    width: 600px;
    margin: auto;
  }
}
ion-text {
  color: white;
}
ion-card {
  --background:rgba(255,255,255,0);
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: scroll;
}
.input {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 9px;
  font-size: 0.9em !important;
}
.white {
  color: white;
}

.small {
  font-size: 13px;
  a {
    text-decoration: unset !important;
  }
}
.button-color {
  background-color: var(--ion-color-mytheme);
}
.logo {
  width: 1.25em !important;
}
.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-logo {
  height: 150;
  width: 300px;
}
.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
.transition {
  background: linear-gradient(to right, #e43a15 14%, #e65245 96%);
}
.btn-color {
  color: #ffa000;
}
.error {
  color: red;
  text-align: center;
  display: block;
  font-weight: bold;
}
.bg-image {
  // --background: #fff url('../../../assets/backroundPic.svg') no-repeat center center / cover;
  // background: url(../../../assets/img/loginbackround.png);
  --background: #fff url('../../../assets/img/loginbackround.png') no-repeat center center / cover;

//  background: url('../../assets/backgroundPic.svg');
//  background-size: contain;
//  background-repeat: no-repeat;
//  background-position: center;

}

.no-scroll .scroll-content {
  overflow: hidden;
}