
.ion-toolbar {
  --backround: darkred;
  // --color: darkred;
  .ion-title {

    text-align: center;
  }
}

.ion-header{
  --backround: darkred;


}


.locationFilter {
  display: block;
  height: 33px;


}

.activityFilter{
  display: block;
  height: 48px;


}
.timeFilter {
  display:block;
  height: 33px;


}


.days {
  display:block;
 
  
  }
.cards {
  display: flex;
  margin: auto;
}
.newCard {

  display:flex;
  align-self: stretch;
 align-content: stretch;



}


.item {
  display: flex;
  align-content: stretch;
}
.card {
  display: block;
  height: 150px;
  width: 370px;
border-radius: 20;

}
.content {
  

    display: flex;
    flex-direction: column;

}
.outer {
  display: flex;
  flex-direction: row;
}
.final{

border-radius: 15px;
}
// ion-item-option {
//   --color: #38ef7d;
// }

.activityContainer {
  overflow-x: scroll;
  
  overflow-y: hidden;
  white-space: nowrap;
  
      ion-button{
          display: inline-block;
          height: 45px;
          width: 160px;
          --background-activated: transparent;
          --background: transparent;
          border-radius: 23px;
          
          font-family: BebasNeue;
          
          font-size: 20px;
          color: #9F9B9B;
          letter-spacing: 0;


  }
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

// ion-item-option {
//   background-color: #27A83F;
// }
.quick {
  color: white;
}
ion-toolbar {
  --background: #d21515;
  color: white;
}


.timeContainer {
  overflow-x: scroll;
  
  overflow-y: hidden;
  white-space: nowrap;
  
      ion-button{
          display: inline-block;
          height: 30px;
          width: 90px;
          --background-activated: transparent;
          --background: transparent;
          border-radius: 23px;
          
          font-family: 'My Custom Font BebasNeue';
          
          font-size: 20px;
          color: #9F9B9B;
          letter-spacing: 0;
      
  }
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.scrolling-wrapper {
  overflow-x: scroll;
  
  overflow-y: hidden;
  white-space: nowrap;

  .cardDays {
    display: inline-block;
    ion-button {
        height: 150px;
        width: 100px;
        --border-radius: 0;
        font-family: "Arial-Custom";
        font-size: 28px;
        --background: 6F6565;


        letter-spacing: 0;
      
            }
  }
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.container {
  display: flex;
  flex-direction: column;
  height: 120px;
  // border: 2px  red;

}
.today {
  display:flex;
  align-self: center;
  position: absolute;
 /* TODAY: */
font-family: ralewayCustom;
font-size: 15px;
// color: #6F6565;
letter-spacing: 0;
  // border: 2px solid blue;
}
.day {
  display:flex;
  align-self: center;
  // padding-top: 30px;
  padding-top: 10px
          // border: 2px blue solid;

  // border: 2px solid purple;
}
.containerDate{
  display:flex;
  flex-direction: column;
  align-content: space-between;
  // border: 2px black solid;
  padding-top: 30px;
}
.date{
  /* 07: */
font-family: Futura-Medium;
font-size: 30px;
// color: #FFFFFF;
letter-spacing: 0;
}


