
.ion-toolbar {
  --backround: darkred;
  // --color: darkred;
  .ion-title {

    text-align: center;
  }
}

.ion-header{
  --backround: darkred;


}


.locationFilter {
  display: block;
  height: 33px;


}

.activityFilter{
  display: block;
  height: 48px;


}
.timeFilter {
  display:block;
  height: 33px;


}


.days {
  display:block;
 
  
  }
.cards {
  display: flex;
  margin: auto;
}
.newCard {

  display:flex;
  align-self: stretch;
 align-content: stretch;



}


.item {
  display: flex;
  align-content: stretch;
}
.card {
  display: block;
  height: 150px;
  width: 370px;
border-radius: 20;

}
.content {
  

    display: flex;
    flex-direction: column;

}
.outer {
  display: flex;
  flex-direction: row;
}
.final{

border-radius: 15px;
}