<ion-header>
  <ion-toolbar>
    <ion-title    color = "#d33939" class="ion-text-center">
WesEvents
    </ion-title>
  </ion-toolbar>
</ion-header>

 
<ion-content>
    <ion-searchbar placeholder="Event Name" animated showCancelButton="focus" cancelButtonText="Clear" debounce="1000">
      </ion-searchbar>
<div class = "locationFilter"> 
      <app-location-filter ></app-location-filter></div>
      <app-time-filter class = "timeFilter"></app-time-filter>
      <!-- <div > -->
    <app-scroll class = "days"> </app-scroll>
    
    <div class = "cards" *ngFor = "let event of cardss" [routerLink] ="['/card/', event.key]">
     
      <app-card ></app-card>


    </div>
    <!-- <div >  
       <app-card  *ngFor = "let event of cardss"></app-card>
    </div>  -->
   <!-- <ion-list> 
 <ion-item button *ngFor = "let card of (cards | async)" [routerLink] ="['/card', card.id]">
  {{card.event_title}} 



</ion-item>

  </ion-list> -->
</ion-content>

