
.card {
    display: inline-block;
    height: 150px;
    width: 370px;
    --backround-color: blue;
    // backround-color: blue;
   background-image: radial-gradient(50% 100%, #195DF7 0%, #616DFF 100%);
    border: 1px solid blue;
  }
  .content {
    
  
      display: flex;
      flex-direction: column;
  
  }
  .outer {
    display: flex;
    flex-direction: row;
  }
  .desc {
    display:block;
    height: 50px;
  }
  .realtimeText {
    // display: block;
text-align: center;
padding-top: 20px;
    // justify-content: center;

  }