// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  .ion-color-darkred {

    --ion-color-darkred: #D21616;
    --ion-color-darkred-rgb: 245, 61, 61;
    --ion-color-darkred-contrast: #ffffff;
    --ion-color-darkred-contrast-rgb: 255, 255, 255;
    --ion-color-darkred-shade: #d33939;
    --ion-color-darkred-tint: #020202;
    }
    .ion-color-mediumAltered {

      --ion-color-mediumAltered: #C2C2C2;
      --ion-color-mediumAltered-rgb: 152, 154, 162;
      --ion-color-mediumAltered-contrast: #6F6565;
      --ion-color-mediumAltered-contrast-rgb: 255, 255, 255;
      --ion-color-mediumAltered-shade: #86888f;
      --ion-color-darmediumAlteredkred-tint: #a2a4ab;
  
    }
   
  
}
ion-popover{
  ion-backdrop{
  opacity: 0.5 !important;
  }
  .popover-wrapper{
  .popover-content{
  width:fit-content;
  // max-width:500px;
  }
  }
  }
.ion-color-darkred {
--ion-color-base: var(--ion-color-darkred) !important;
--ion-color-base-rgb: var(--ion-color-darkred-rgb) !important;
--ion-color-contrast: var(--ion-color-darkred-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-darkred-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-darkred-shade) !important;
--ion-color-tint: var(--ion-color-darkred-tint) !important;
}

.ion-color-mediumAltered {
  --ion-color-base: var(--ion-color-mediumAltered) !important;
  --ion-color-base-rgb: var(--ion-color-mediumAltered-rgb) !important;
  --ion-color-contrast: var(--ion-color-mediumAltered-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mediumAltered-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mediumAltered-shade) !important;
  --ion-color-tint: var(--ion-color-mediumAltered-tint) !important;
  }
  

  @font-face {
    font-family: 'My Custom Font BebasNeue';
    font-style: bold;
    font-weight: bold;
    src: url('../assets/fonts/BebasNeue-Bold.ttf');
  }
  @font-face {
    font-family: 'Arial-Custom';
    font-style: bold;
    font-weight: bold;
    src: url('../assets/fonts/Arial-Black.ttf');
  }
  
  @font-face {
    font-family: 'ralewayCustom';
    font-style: bold;
    font-weight: bold;
    src: url('../assets/fonts/raleway-bold.ttf');
  }

  ion-back-button {
    --color	: white;
}