.transition {
  background: linear-gradient(to right, #e43a15 14%, #e65245 96%);
  color: "white";
}
.error {
  color: red;
  text-align: center;
  display: block;
  font-weight: bold;
}
ion-back-button {
  --color	: white;
}