
.ion-toolbar {
  --backround: darkred;
  // --color: darkred;
  .ion-title {

    text-align: center;
  }
}

.ion-header{
  --backround: darkred;


}


.locationFilter {
  display: block;
  // padding: 0px 0px 0px 0px;
  height: 33px;
  // border: 1px solid red;

  // border: 1px solid #FF0000;
/* ALL: */


}
.timeFilter {
  display:block;
  // margin-top: 5px;
  // border: 1px solid blue;
  height: 33px;


}


.days {
  display:block;
 
  // border: 1px solid red;
  
  }
.cards {
  
  // flex-direction: column;
  
  // justify-content: space-between;
  display: block;
  // margin-bottom: 10px;

  // margin-top: -15px;
  // margin-bottom: -10px;
  //  border: 1px solid grey;
  
  // margin: auto;
  // align-items: center;
}
.newCard {
  // display:block;
  // --background: ;
  // --color: blue;
  --backround: #E0CA3C;


}
.item {

  // --background: linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
}
.card {
  display: block;
  height: 150px;
  width: 370px;
// background-image: radial-gradient(50% 100%, #195DF7 0%, #616DFF 100%);
border-radius: 20;
// justify-content: center;
//   backround-image: radial-gradient( )
  // border: 1px solid blue;
   
}
.content {
  

    display: flex;
    flex-direction: column;

}
.outer {
  display: flex;
  flex-direction: row;
}
.final{

border-radius: 15px;
}