
.card {
display: inline-block;
}

.item-options {
    border: 3px solid orange;
}
ion-segment{
  height: 80px;
  background-color: #FFF;
}

ion-segment-button{
font-size: 16px;
color: red;
border: 0px;
--color-checked: red;
--color-checked-disabled: red;
border-radius: 0px;
}
.newCard {
   
    display:flex;
    align-self: stretch;
   align-content: stretch;
  
  
  }
  
  
  .item {
    display: flex;
    align-content: stretch;
  
  }
  .card {
    display: block;
    height: 150px;
    width: 370px;
  border-radius: 20;
 
  }

.warning {
  display: flex;
  margin: auto;
}
ion-toolbar {
  --background: #d21515;
  color: white;
}