 <ion-header>
		<ion-toolbar>
		   <ion-buttons slot="start">
			  <ion-menu-button></ion-menu-button>
		   </ion-buttons>
		   <ion-title    color = "#d33939" class="ion-text-center">
			  Saved Events
		   </ion-title>
		</ion-toolbar>
	 </ion-header>
	 <ion-content *ngIf = "firstTime === true">
			<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
					<ion-refresher-content
					   pullingText="Pull to refresh"
					   refreshingText="Refreshing events.."></ion-refresher-content>
				 </ion-refresher>
		<ion-card class="animated jello" color = "darkred">
		   <ion-card-header>
			  <ion-card-title>
				 OOPS! 😅 You have no saved events.
			  </ion-card-title>
		   </ion-card-header>
		   <ion-card-content>
			  <h2>	<strong> Tip:</strong> Try saving an event by clicking "Mark As Going"!	</h2>
		   </ion-card-content>
		</ion-card>
	 </ion-content>
	 <ion-content *ngIf = "firstTime === false">
		<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		   <ion-refresher-content
			  pullingText="Pull to refresh"
			  refreshingText="Refreshing events.."></ion-refresher-content>
		</ion-refresher>
		<ion-searchbar  (ionInput)="filterList($event,'search')" placeholder="Event Name" animated showCancelButton="focus" cancelButtonText="Clear"></ion-searchbar>
		<div *ngIf = "connectionIsGood">
				 <!-- [routerLink] ="['/card/', event]"  -->
                <!-- <div  class = "cards" *ngFor = "let event of events; index as i"  class = "final"> -->
                    <!-- <ion-item-sliding class = "item-sliding">
                       <ion-item-options side="end">
                          <ion-item-option color="warning" (click)="notGoing(event)">Not Going!</ion-item-option>
					   </ion-item-options> -->
					   <ion-list> 
							<div *ngFor = "let event of events; index as i" 	> 

					   <app-card [id]="event?.event_id" > </app-card>

					 </div>
					</ion-list>
                    <!-- </ion-item-sliding> -->
                 </div>
                
              </ion-content> 