
.card {
    display: inline-block;
    height: 150px;
    width: 370px;
 
    border: 1px solid blue;
  }
  .identify {
    border: 1px solid orange;
  }
  ion-segment{
    height: 80px;
      background-color: #FFF;
    
  
}

ion-segment-button{
  font-size: 16px;
  color: var(--ion-color-medium);
  border: 0px;
  border-radius: 0px;
  background: #FFF;

}
.color{
  color: rgb(70, 66, 66);
}

.segment-button-checked{
  background: #FFF;
  color: var(--ion-color-primary);
  border-bottom: 3px solid var(--ion-color-primary);
}
.content {
    
  
      display: flex;
      flex-direction: column;
  
  }
  .outer {
    display: flex;
    flex-direction: row;
  }
  .desc {
    display:block;
    height: 50px;
  }
  .realtimeText {
text-align: center;
padding-top: 20px;

  }
  #myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}
.label {
  display: flex;
  margin:auto;
}
ion-button{
  color: #ffa000;

}
ion-toolbar {
  --background: #d21515;
  color: white;
}


ion-back-button {
  --color	: white;
}

