<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-content>

    <app-card [id] = "id"></app-card>



    <ion-toolbar color = "darkred">
        <ion-buttons slot="start">
          <ion-button (click)="saveEvent()">
            <ion-icon  name="save"></ion-icon>
            Save Event
          </ion-button>
        </ion-buttons>
  
        <ion-buttons slot="end">
          <ion-button (click)="share()">
            <ion-icon  name="share-alt"></ion-icon>
            Share
          </ion-button>
        </ion-buttons>
        
        
        <ion-buttons slot="secondary">
          <ion-button (click)="addToCalendar()">
            <ion-icon  name="share-alt"></ion-icon>
           Add to Calendar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    <ion-item-divider color="light" >
        <ion-label>
          <strong> Updates </strong>
        </ion-label>
      </ion-item-divider>

        <ion-list> 



        <ion-item *ngFor = "let update of updates; index as i" style = "font-size: 17px;" lines = "full" > 
              {{update}}
        </ion-item>

        <ion-item *ngIf = "updates.length === 0">
          <ion-label> 
          No updates found!
        </ion-label>

        </ion-item>

      </ion-list>
    </ion-content>

