<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-content padding>

      <ion-card>
        <ion-card-header>
          <ion-card-title> {{card.event_title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title></ion-card-title>
    
          <p>{{card.event_description}}</p>
        </ion-card-content>
      </ion-card>

      <!-- <ion-button color = "primary" (click) = "doFunc()">

      </ion-button> -->
    </ion-content>