.box {
    display: block;
 
    border: 1px solid blue;
}
#popso {
    border: 2px solid red;
}
.pic {

    background-image: radial-gradient( #195DF7 0%, #616DFF 100%, 50% 100%);
}

.cards {
 
    display: flex;
  
    margin: auto;
  }
  .newCard {
   
    display:flex;
    align-self: stretch;
   align-content: stretch;
  
  
  }
  
  
  .item {
    display: flex;
    align-content: stretch;
  
  }
  .card {
    display: block;
    height: 150px;
    width: 370px;
  border-radius: 20;

     
  }
 
  ion-back-button {
    --color	: white;
}