<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-content padding>

      <ion-card > 
                 
              
                   
              
              
              
          <ion-card-content>  
              <ion-card-title>
                  {{cards.event_title}}
           
                </ion-card-title>
                <ion-card-subtitle>
                  {{cards.event_date}}
                  
                </ion-card-subtitle>
                <ion-grid>
                    <!-- class="ion-align-items-start" -->
                  <ion-row nowrap>
                    <ion-col  size = "6" >
                      <div> 
                        <div class="ion-text-start"> <strong>Location: </strong> {{cards.event_title}}</div>
                      </div>
                      <div> 
                          <strong>Students:</strong> {{cards.event_who}}
                      </div>
                      <div> 
                          <strong> Category:</strong> {{cards.event_category}}
                      </div>
                  
                    </ion-col>
                    <ion-col >
                        <ion-card class = "pic">
                          <ion-card-header>
                            <ion-card-title>
                              
                            </ion-card-title>
                          </ion-card-header>

                          <ion-card-content>
                            
                          </ion-card-content>
                        </ion-card>
                  </ion-col>
                  </ion-row>
                </ion-grid>
          
                
            <strong> Description:</strong> {{cards.event_description}}
          </ion-card-content>
        </ion-card>

      <!-- <ion-button color = "primary" (click) = "doFunc()">

      </ion-button> -->
    </ion-content>