.scrolling-wrapper {
    overflow-x: scroll;
    
    overflow-y: hidden;
    white-space: nowrap;
 
    .card {
      display: inline-block;
      ion-button {
          height: 150px;
          width: 100px;
          --border-radius: 0;
          font-family: "Arial-Custom";
          font-size: 24px;
          --background: 6F6565;


          letter-spacing: 0;
        
              }
    }
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
