.locationContainer {
    overflow-x: scroll;
    
    overflow-y: hidden;
    white-space: nowrap;
    
        ion-button{
            display: inline-block;
            // vertical-align: middle;
            height: 30px;
            width: 160px;
            // --color: white;
            --background-activated: transparent;
            --background: transparent;
            border-radius: 23px;
            
            font-family: BebasNeue;
            
            font-size: 20px;
            color: #9F9B9B;
            letter-spacing: 0;


    }
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}